/* общие стили лого */
.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--link-hover-color);
}

.header__studio {
    color: var(--tit-text-color);
}

.basement-studio {
    color: var(--white-text-color);
}

/*  */